@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


:root {
  --color-primary1: #0a284e;
  --color-primary2: #157a6e;
  --color-accent: #d4af37;
  --color-mint: #e6f4f1;
  --color-lightgray: #f2f2f2;
  --color-grayblue: #b4c5d1;
}



a:hover {
  color: var(--color-accent);
  text-decoration: none !important;
}
a:active {
  color: var(--color-accent);
  text-decoration: none !important;
}

