.title-wrapper {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .title-wrapper.animate-title {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .underline-bar {
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .scale-x-100 {
    transform: scaleX(1);
  }
  
  .shadow-title {
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  